.container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}
.video-container {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #666;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
}
.video-method-header {
    display: flex;
    position: absolute;
    top: -43px;
    justify-content: space-between;
    width: 100%;
}
.video-type {
    display: flex;
}
.video-type > button {
    margin-right: 4px;
}
.video-upload-form {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -44px;
    right: 0;
}
.video-upload-form > form {
    width: 49%;
}
.custom-file-button input[type="file"] {
	margin-left: -2px !important;
}

.custom-file-button input[type="file"]::-webkit-file-upload-button {
	display: none;
}

.custom-file-button input[type="file"]::file-selector-button {
	display: none;
}

.custom-file-button:hover label {
	background-color: #dde0e3;
	cursor: pointer;
}

.opencv-func-category {
    display: flex;
}
.opencv-func-btn {
    margin-left: 4px;
}
.opencv-func-btn > button {
    position: relative;
}
.opencv-func-used {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-size: 12px;
}

.video-method-right {
    height: 100%;
    position: absolute;
    top: 0;
    right: -48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.opencv-func-category2 {
    display: flex;
    flex-direction: column;
}
.opencv-func-category2 > a {
    margin-bottom: 4px;
}

.func-init {
    display: flex;
    flex-direction: column;
}
.func-init > a {
    margin-bottom: 4px;
}